.back_img{
  background-image: url('../img/medicos.png');
  background-repeat: no-repeat;
  height: 600px;
  background-color: #ffffff;
}

body {
   background-image: url();

}

.area_log{
    background-image: url("../img/fondoAncho.png");
    background-repeat: no-repeat;
	height: 350px
}
.area_reg{
	height: 300px	
}

.pensamiento{
  font-style:italic;
  font-weight:bold;
  font-size:0.9em;  
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}

hr{ 
   background-color:#ff0000; 
 }
.membrete {
  margin: -5px;
  font-size:0.8em;  
}

